extends base_template
block greeting
  p.title
  span Hello #{username || 'there'}
block content
  h4.
    Student Account created
  p.
    A new #{organization} student account has been created for you.
    To proceed with the login. Kindly click on the following link.
  p.
    Use the following details to access your account
  table.centered
      tbody
          tr
            td
              b Username:
            td #{username}
          tr
            td
              b Password:
            td #{password}
  a(href=link)
    span Login
