extends base_template
block greeting
    p.title
    span Hello #{fullName || 'there'}
block content
    p.
        A new #{models.student} account has been created for you at #{organizationName}.
        To proceed with the login. Kindly create a password first.
    p.
        You will use the following username to access your account.
    div.centered
        h2 #{username}
    a(href=link)
        span Create a password
