extends base_template
block greeting
  p.title
  span Hello #{fullName || 'there'}
block content
  p.
    A new #{models.teacher} account has been created for you at #{organizationName}. You may now login to your account..
  p.
    Use the following details to access your account.
  table
    tbody
      tr
        td
          b Username:
        td #{username}
      tr
        td
          b Password:
        td #{password}
  a(href=link)
    span Login
